QBevel BITMAP "gui\res\QBevel.bmp"
QButton BITMAP "gui\res\QButton.bmp"
QCheckBox BITMAP "gui\res\QCheckBox.bmp"
QComboBox BITMAP "gui\res\QComboBox.bmp"
Qcommand BITMAP "gui\res\Qcommand.bmp"
QComponent BITMAP "gui\res\QComponent.bmp"
QControl BITMAP "gui\res\QControl.bmp"
QEdit BITMAP "gui\res\QEdit.bmp"
QMemo BITMAP "gui\res\QMemo.bmp"
QGroupBox BITMAP "gui\res\QGroupBox.bmp"
QLabel BITMAP "gui\res\QLabel.bmp"
QListBox BITMAP "gui\res\QListBox.bmp"
NULL BITMAP "gui\res\NULL.bmp"
QProgressBar BITMAP "gui\res\QProgressBar.bmp"
QRadioButton BITMAP "gui\res\QRadioButton.bmp"
QRichEdit BITMAP "gui\res\QRichEdit.bmp"
QStatusbar BITMAP "gui\res\QStatusbar.bmp"
QSyntaxEdit BITMAP "gui\res\QSyntaxEdit.bmp"
QQabControl BITMAP "gui\res\QtabControl.bmp"
Qupdown BITMAP "gui\res\Qupdown.bmp"
QScrollbar BITMAP "gui\res\QScrollbar.bmp"
QWinControl BITMAP "gui\res\QWinControl.bmp"
QToolBar BITMAP "gui\res\QToolBar.bmp"
QPanel BITMAP "gui\res\QPanel.bmp"
XSynEdit BITMAP "gui\res\XSynEdit.bmp"
XColorGrid BITMAP "gui\res\XColorGrid.bmp"
